page-about {
    ion-content.content-md{
        background: black;
    }
    h6{
        color: gold;
    }
    h3{
        color: white;
    }
    kbd{
        background: rgb(60, 60, 243);
    }
}
