page-login{
  ion-content{
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0f2430+0,0d1f2b+80,000000+100 */
background: #0f2430; /* Old browsers */
background: -moz-linear-gradient(top, #0f2430 0%, #0d1f2b 80%, #0d1f2b 80%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #0f2430 0%,#0d1f2b 80%,#0d1f2b 80%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #0f2430 0%,#0d1f2b 80%,#0d1f2b 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f2430', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  }

// img{
//     position: relative;
//     left: 16%;
// }
}
