page-helpemail {
    ion-content{
        background: #212121 !important;
    }
    ion-card{
        background: #484848 !important;
        color: #eeeeee;
    }
    ion-title{
        color: #eeeeee;
    }
}
