page-menuprincipal {
  div.toolbar-background.toolbar-background-md{
    background: #1565C0;
  }
  div.toolbar-title.toolbar-title-md{
    color: white;
  }
  ion-header.header.header-md{
    background: #2196F3;
  }
}
